@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5 img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

/*
* column settings
*/
.container {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}



/*
* columun 1 から 12を書き加える
* flexboxを使用して、widthを%で書く
*/



/*
* main top
*/

.top-main {
  height: 500px;
  background-image: url(../shared/yaoqi-lai-19429.jpg);
  color: #ffffff;
}

.top-main h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.top-main p {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

/*
* middle section
*/
.middle-columns {
  max-height: 473px;
}

.middle-section h2 {
  font-weight: 600;
}

.middle-section h3 {
  color: rgb(133, 152, 206);
}

/*
* middle label
*/

.middle-label {
  background-color: rgb(236, 236, 236);
}

.middle-label h1 {
  padding: 50px;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.middle-label h2 {
  color: rgb(133, 152, 206);
}

/*
* bottom section
*/
.bottom-section .slim {
  padding: 50px 50px 30px 80px;
}

.bottom-section-label h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.bottom-section-paragraph {
  background-color: rgb(226, 224, 230);
}

.bottom-section-paragraph h2 {
  color: rgb(133, 152, 206);
  margin: 30px;
}

/*
* footer
*/

.footer {
  height: 400px;
  background-color: #000000;
  color: #ffffff;
}

.footer h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}
